[features]
seeds = false
skip-lint = false

[programs.localnet]
last_signal_rust = "FW52ywcwuEzQMXfgs12syQ4gC5zTgNSxRSCR9BptGwCT"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
client = "yarn run ts-node client/*.ts"
